<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/fragments :: head('Pizza List')"></head>
<body class="bg-primary-subtle">
    <div class="container">
        <h1>Le Nostre Pizze</h1>
        <hr>
        <div th:if="${pizzaList.size() == 0}">Mi Dispiace Non Ci Sono Pizze</div>
        <table class="table table-hover table-primary" th:unless="${pizzaList.size() == 0}">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Ingredienti</th>
                    <th scope="col">Prezzo</th>
                    <th scope="col">Dettagli</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="pizza : ${pizzaList}">
                    <th scope="row" th:text="${pizza.id}"></th>
                    <td th:text="${pizza.name}"></td>
                    <td th:text="${pizza.description}"></td>
                    <td th:text="${pizza.price}"></td>
                    <td>
                        <a class="btn btn-primary btn-sm" th:href="@{/pizza/show/{id}(id=${pizza.id})}">Visualizza</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row d-flex">
            <div class="col-12 text-end">
                <a th:href="@{/pizza/create}" class="btn btn-primary">Crea una pizza</a>
            </div>
        </div>
    </div>
    <th:block th:replace="fragments/fragments :: script"></th:block>
</body>
</html>