<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/fragments :: head('Pizza List')"></head>
<body class="bg-primary-subtle">
<nav th:replace="fragments/navbar :: topNavbar('pizza')"></nav>
    <div class="container">
        <div th:if="${redirectMessage != null}"
             class="alert alert-success alert-dismissible fade show mt-4"
             role="alert">
            <div th:text="${redirectMessage}"></div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <h1>Le Nostre Pizze</h1>
        <hr>
        <!-- box di ricerca -->
        <div class="row mb-4">
            <form
                    id="pizza-search"
                    th:action="@{/pizza}"
                    method="get"
                    class="col-4"
            >
                <div class="input-group">
                    <input class="form-control" type="text" name="keyword" id="keyword"
                           placeholder="Cerca tramite nome della pizza" th:value="${preloadSearch}">
                    <button type="submit" class="btn btn-primary"><i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </form>
        </div>
        <div th:if="${pizzaList.size() == 0}">Mi Dispiace Non Ci Sono Pizze</div>

        <!-- table con le pizze -->
        <table class="table table-hover table-primary" th:unless="${pizzaList.size() == 0}">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Ingredienti</th>
                    <th scope="col">Prezzo</th>
                    <th scope="col">Dettagli</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="pizza : ${pizzaList}" th:classappend="${pizza.offers.size() == 0 ? 'table-warning' : ''}">
                    <th scope="row" th:text="${pizza.id}"></th>
                    <td th:text="${pizza.name}"></td>
                    <td th:text="${pizza.description}"></td>
                    <td th:text="${pizza.price}"></td>
                    <td class="d-flex justify-content-around">
                        <a class="btn btn-primary btn-sm" th:href="@{/pizza/show/{id}(id=${pizza.id})}">Visualizza</a>
                        <a class="btn btn-primary btn-sm" th:href="@{/pizza/edit/{id}(id=${pizza.id})}">Modifica</a>
                        <form
                                th:if="${pizza.offers.size() == 0 && pizza.ingredients.size() == 0}"
                                method="post"
                                th:action="@{/pizza/delete/{id}(id=${pizza.id})}"
                                onsubmit="return confirm('Sei sicuro?')"
                        >
                            <button type="submit" class="btn btn-danger btn-sm">Elimina</button>

                        </form>
                        <button disabled class="btn btn-danger btn-sm" th:if="${pizza.offers.size() > 0 || pizza.ingredients.size() > 0}">Elimina</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row d-flex">
            <div class="col-12 text-end">
                <a th:href="@{/pizza/create}" class="btn btn-primary">Crea una pizza</a>
            </div>
        </div>
    </div>
    <th:block th:replace="fragments/fragments :: script"></th:block>
</body>
</html>