<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/fragments :: head('Pizza Details')"></head>
<body class="bg-primary-subtle">
<div class="container">
    <h2 th:text="|Nome : ${pizza.name}"></h2>
    <div th:if="${pizza.image.isEmpty()}">Non ci sono immagini</div>
    <img th:unless="${pizza.image.isEmpty()}" th:src="${pizza.image}" width="500" alt="pizza margherita">
    <h4 th:text="${pizza.description}"></h4>
    <h3><span>Price : </span><span th:text="${pizza.price}"></span>$</h3>
    <div class="row justify-content-between">
        <h3 class="col-4">Offerte Disponibili :</h3>
        <a class="btn btn-primary col-2" th:href="@{/offer/create(pizzaId=${pizza.id})}">Aggiungi Offerta</a>
    </div>

    <table class="table table-primary" th:if="${pizza.offers.size() > 0}">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Titolo</th>
            <th scope="col">Data Inizio</th>
            <th scope="col">Data Fine</th>
            <th scope="col">Nuovo Prezzo</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="off : ${pizza.offers}">
                <td th:text="${off.id}"></td>
                <td th:text="${off.title}"></td>
                <td th:text="${off.startDate}"></td>
                <td th:text="${off.endDate}"></td>
                <td><span th:text="${off.price}"></span><span> $</span></td>
                <td class="d-flex justify-content-around">
                    <a class="btn btn-primary btn-sm" th:href="@{/offer/edit/{id}(id=${off.id})}">Modifica</a>
                       <form
                            method="post"
                            th:action="@{/offer/delete/{id}(id=${off.id})}"
                            onsubmit="return confirm('Sei sicuro?')"
                        >
                            <button type="submit" class="btn btn-danger btn-sm">Elimina</button>

                        </form>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="alert alert-info" th:if="${pizza.offers.size() == 0}">
        Questa pizza non ha offerte :(
    </div>
    <a class="btn btn-primary" th:href="@{/pizza}">Ritorna Indietro</a>
</div>

<th:block th:replace="fragments/fragments :: script"></th:block>
</body>
</html>