<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/fragments :: head('Create Offer')"></head>
<body class="bg-primary-subtle">
<nav th:replace="fragments/navbar :: topNavbar('pizza')"></nav>
<div class="container">
    <h1 class="text-center"><span>Crea un'offerta per la pizza </span><span th:text="${pizza.name}"></span></h1>
    <form
        id="create-offer"
        method="post"
        th:object="${offer}"
        th:action="@{/offer/create}"
        class="row g-3"
    >
        <input type="hidden" th:field="*{pizza}">
        <div class="col-4">
            <label for="title" class="form-label">Nome Offerta</label>
            <input class="form-control" type="text" id="title" th:field="*{title}" th:errorClass="is-invalid">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}">
                <ul>
                    <li th:each="err : ${#fields.errors('title')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>
        <div class="col-4">
            <label for="startDate" class="form-label">Data Inizio</label>
            <input class="form-control" type="date" id="startDate" th:field="*{startDate}" th:errorClass="is-invalid">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('startDate')}">
                <ul>
                    <li th:each="err : ${#fields.errors('startDate')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>
        <div class="col-4">
            <label for="endDate" class="form-label">Data Fine</label>
            <input class="form-control" type="date" id="endDate" th:field="*{endDate}">
        </div>
        <div class="col-2">
            <label for="price" class="form-label">Prezzo</label>
            <input class="form-control" type="text" id="price" th:field="*{price}" th:errorClass="is-invalid">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('price')}">
                <ul>
                    <li th:each="err : ${#fields.errors('price')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Salva</button>
            <a class="btn btn-danger" th:href="@{/pizza/show/{id}(id=${pizza.id})}">Annulla</a>
        </div>
    </form>
    <th:block th:replace="fragments/fragments :: script"></th:block>
</div>
</body>
</html>